.bubble{
    border-radius: 20px;
    margin: 1rem auto;
    background-color: #EBEEF2;
    width: 60vw;
    padding: 1rem;
}

.petImage{
    width: 30rem;
}

.dog-profile{
    display: flex;
    flex-flow: row nowrap;
    align-items: top;
    /* overflow: hidden; */
}

img{
    border-radius: 20px;
}

.dog-name{
    margin-bottom: 2rem;
}

.info-bubble{
    text-align: start;
    margin-left: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%
}

.adopt{
    background-color: #D95043;
    padding: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-right: 2rem;
    border-radius: 6px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    width: 6rem;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}

.foster{
    background-color: #F28066;
    font-size: 20px;
    padding: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    width: 6rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}

p{
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 0;
}

.rectungale{
    background-color: whitesmoke;
    border-radius: 6px;
    padding: 1rem;
    display: inline-flex;
    margin-right: 1rem;
    text-align: center;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
    width: 5rem;
    height: 5rem;

}