body{
    font-family: 'Ubuntu', sans-serif;
}

.header{
    color: #F2561D;
}

.title{
    display: inline-flex;
    flex-flow: row nowrap;
    background-color: #f1e8b6;
    border-radius: 20px;
    padding: 4rem;
    align-items: center;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
}

.header-text{
    margin-right: 2rem;
    text-align: left;
}


.nav-list{
    padding: 0.5rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; 
    background-color: #91D7F2;   
}

.nav-list a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.left-header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.left-header div{
    margin-left: 2rem;
}

.right-header{
    display: flex;
    flex-flow: row nowrap;
    margin-right: 2rem;
}

.right-header div{
    margin-left: 2rem;
}

.dog-logo{
    max-width: 70px;
    margin-right: 2rem;
    margin-left: 1rem;
}

.searchIcon{
    margin-right: 0.5rem;
    color:white;
    position: relative;
    top: 0.2rem;
}

.search{
    margin-left: 1rem;
}

.sign-up{
    background-color: #F2561D ;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    color: white;
    border: none;
}

#normal-div{
    margin-right: 0;
    padding: auto 0 auto 0;
    display: flex;
    align-items: center;
}

#login{
    border: none;
    background-color: #91D7F2;
    color: white;
    font-weight: bold;
}

.name-gender{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.dogList{
    margin-top: 1rem
}

.sad-shiba-inu{
    margin-top: 3rem;
}